/* Jeffrey Zou
*  SoftDev2 pd3
*  HW05 - The Best Defense Against Tyranny...
*  2016-03-21
*/

h1 {
  font-family: 'Times New Roman', Georgia, serif;
  font-size: 32px;
  text-align: center;
}

.chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}
