/* Jeffrey Zou
*  SoftDev2 pd3
*  HW05 - The Best Defense Against Tyranny...
*  2016-03-21
*/

h1 {
  font-family: 'Times New Roman', Georgia, serif;
  font-size: 32px;
  text-align: center;
  color: #00F;
}

.allotted div{
  font: 5px;
  background-color: #007FFF;
  text-align: left;
  color: #000080;
  margin: 1px;
  padding: 3px;
}

.unallocated div {
  font: 5px;
  background-color: #01044B;
  text-align: left;
  color: #3F00FF;
  margin: 1px;
  padding: 3px;
}
